<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--串口名称，一般是COM1，只取最后的数字-->
		<add key="port" value="3"/>
		<!--踏板延时，即踩下踏板到抬起的间隔时间，期间的信号将被忽略防止抖动-->
		<add key="delay" value="500"/>
		<!--串口触发值，即短接引脚对应的触发值，可在调试模式测定-->
		<add key="com_map" value="4"/>
		<!--键盘映射值，即触发串口时向全局映射的按键，是枚举Keys的键名，一般只有大写-->
		<add key="keymap" value="C"/>
		<!--调试模式，将触发的所有串口触发值都弹窗出来-->
		<add key="debug_mode" value="false"/>
		<!--启用Win32api模拟键盘输入，否则启用.NET SendKey模拟输入-->
		<add key="enable_win32_api" value="true"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
